In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader.data as data

df = pd.read_csv("/Users/julesgransden/Desktop/Perso Projects/HealthFitnessApp/FitDB/dailyActivity_merged.csv")

df.head()

           Id ActivityDate  ...  SedentaryMinutes  Calories
0  1503960366    4/12/2016  ...               728      1985
1  1503960366    4/13/2016  ...               776      1797
2  1503960366    4/14/2016  ...              1218      1776
3  1503960366    4/15/2016  ...               726      1745
4  1503960366    4/16/2016  ...               773      1863

[5 rows x 15 columns]

In [5]:

group = df.groupby("Id")

In [6]:
# Iterate over each group and write it to a separate CSV file
for group_id, group_data in groups:
    # Define the filename for the subset using the group ID
    filename = f'subset_{group_id}.csv'
    
    # Write the subset to a CSV file
    group_data.to_csv(filename, index=False)